@font-face {
  src: url(fonts/Poppins-Black);
  font-family: pop;
}


h1 {
    font-family: pop;
}


.img-logo
{

    width: 60px;
    border-radius: 5px;

}


/*

For the text logo
logo-text{



}

*/
