@font-face {
  src: url(fonts/Poppins-Light.ttf);
  font-family: pop;
}

html, body {

      height: 100%;
      width: 100%;
      font-family: pop, sans-serif;
      color: #222;

}

.navbar{

  padding: .8rem;

}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em !important;
}

.logo-text1{
  color:#3f3f3f;
}



.img-logo
{

    width: 60px;
    border-radius: 5px;

}

.carousel img{

  width: 43%;
  height: 60%;
  display: block;
  margin: 0 auto;

}

.modal-header{
  display:block;
  margin: 0 auto;
}

.carousel-caption h1{

  font-size: 170%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  color: #d5d5d5;
  font-weight: bold;

}

.jumbotron
{

  border-radius: 0;
}

.cust-bt{
  width: 100%;
  color:  #17a2b8;

}


.custom img{
  cursor: pointer;
  width:100%;
  margin-bottom: 1rem;

}

.padding{
  padding: 1rem 0;
}

.light{

  border: 0.5px solid #b4b4b4;
   width: 75%;

}


.lighter{

  border: 0.5px solid #b4b4b4;
   width: 15%;

}

.social a{

    font-size: 4.5em;
    padding: 0 3rem;
}

.fa-facebook{
  color: #3b5998;
}


.fa-google-plus-g{
  color: #dd4b39;
}


.fa-youtube{
  color: #bb0000;
}


.facebook: hover,
.fa-google-plus-g: hover,
.fa-youtube: hover {
color: #d5d5d5;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

.display-5{
  font-size: 350%;
  color:#3f3f3f;
}

/* Media queries*/

@media (max-width:992px) {
  .carousel img{

    width: 43%;
    height: 60%;

  }
  .carousel-caption h1{

    font-size: 150%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    font-weight: bold;

  }
  .social a{

      font-size: 4em;
      padding: 2rem;
  }

  .display-5{
    font-size: 300%;
  }


  .lighter{

    border: 0.5px solid #b4b4b4;
     width: 20%;

  }

}

@media (max-width:768px){

  .social a{

      font-size: 2.5em;
      padding: 1.2rem;
  }

  .carousel img{

    width: 100%;
    height: 100%;

  }

  .carousel-caption h1{

    font-size: 160%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    font-weight: bold;

  }

  .display-5, .font-sz{
    font-size: 200%;
  }


  .lighter{

    border: 0.5px solid #b4b4b4;
     width: 26%;

  }

}

@media (max-width:576px){


  .lighter{

    border: 0.5px solid #b4b4b4;
     width: 35%;

  }
  .social a{

      font-size: 2em;
      padding: .7rem;
  }


  .carousel img{

    width: 100%;
    height: 100%;

  }

  .carousel-caption h1{

    font-size: 150%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    font-weight: bold;

  }


  .display-5,.font-sz{
    font-size: 150%;
  }


}
